<% @notes.each  do |note| %>
  <% if params[:id] == "#{note['id']}" %>
    <p> <%= h(note["title"]) %> </p>
    <p style ="white-space: pre-wrap;" ><%= h(note["content"]) %> </p> 
  <% end %>
<% end %> 

<form method="get" action="/memos/<%= params[:id] %>/edit">
  <input type="submit" value="更新">
</form>

<form method="post" action="/memos/<%= params[:id] %>">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="削除">
</form>